{{>layout/header}}
<div class="container">

    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <button id="btn-update" class="btn btn-warning">수정</button>


    <button id="btn-delete" class="btn btn-danger">삭제</button>

    <br /><br />
    <div>
        글 번호 : <span id="id"><i>{{boards.id}} </i></span>
        작성자 : <span><i>{{boards.user.username}} </i></span>
    </div>
    <br />

    <div>

        <h3>{{boards.title}}</h3>
    </div>

    <div>
        <hr />
        <div>
            {{{boards.content}}}
            <hr />
        </div>
    </div>



    <script src="/js/board.js"></script>
    {{>layout/footer}}